<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <img src="http://about.tarung2017.com/foto/104.jpg" alt="ini nida">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Hobby: reading fiction books</article>
    <article>Description: i don't even know, an epitome of trash?</article>

    <h1>Nama dia {{ nameTD }}</h1>
    <img src="http://about.tarung2017.com/foto/227.jpg" alt="ini pat">
    <article>NPM : {{ npmTD }}</article>
    <article>I am {{ ageTD }} years old</article>
    <article>Hobby: watching movies</article>
    <article>Description: orang jago dan OP, desain webnya bagus</article>

    <h1>Nama dia {{ nameTB }}</h1>
    <img src="http://about.tarung2017.com/foto/419.jpg" alt="ini lulu">
    <article>NPM : {{ npmTB }}</article>
    <article>I am {{ ageTB }} years old</article>
    <article>Hobby: ngoding</article>
    <article>Description: ini orang jago juga. temanku dalam suka maupun duka tapi suka ngeselin. Bucin parah.</article>
</body>
</html>
